streamlit
babel
datetime
timedelta
#locale
pandas
yfinance
#urllib.request
#Request
urlopen
# mudei aqui dia 03/05/24 por conta de erro no streamlit: numpy
numpy ==1.23.5
plotly
#plotly.graph_objects
#plotly.express
#make_subplots
matplotlib
#matplotlib.pyplot
vectorbt #==0.24.0  # Especificar a versão do vectorbt (verifique a versão mais recente compatível)
numba==0.53.1
statsmodels
GoogleNews
#PIL
