# ===============================
# Core App
# ===============================
streamlit>=1.30
babel>=2.12
lxml>=4.9

# ===============================
# Data & Finance
# ===============================
pandas>=2.0
numpy>=1.26
yfinance>=0.2.33

# ===============================
# Visualization
# ===============================
plotly>=5.18
matplotlib>=3.8

# ===============================
# Quant / Portfolio
# ===============================
vectorbt>=0.26,<0.29
numba>=0.56,<0.57

statsmodels>=0.14

# ===============================
# News / Scraping
# ===============================
GoogleNews>=1.6
